In [1]:
import pandas as pd

In [2]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [8]:
a = ["US", "CA"]

b = countries.loc[a]

print(b)

US       США
CA    Канада
Name: countries, dtype: object

In [9]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [10]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [11]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [30]:
import numpy as np

In [33]:
# display(melb_data.columns)
# display (melb_data.loc[90, "Date"])

# display (round (melb_data.loc[3521, "Landsize"] / melb_data.loc[1690, "Landsize"],0))

# display (melb_data.head(8))
# display (melb_data.tail(7))

# display (melb_data.info())
for i in melb_data.index:
    if pd.isna(melb_data.loc[i,"CouncilArea"]):
        display (melb_data.loc[i])
        break

index                             7584
Suburb                   Brighton East
Address                   7 Roberts Ct
Rooms                                3
Type                                 h
Price                        1270000.0
Method                              VB
SellerG                            Ray
Date                        20/05/2017
Distance                          10.7
Postcode                          3187
Bedroom                            3.0
Bathroom                           1.0
Car                                3.0
Landsize                         724.0
BuildingArea                     126.0
YearBuilt                       1970.0
CouncilArea                        NaN
Lattitude                     -37.9291
Longtitude                    145.0297
Regionname       Southern Metropolitan
Propertycount                   6938.0
Coordinates         -37.9291, 145.0297
Name: 7584, dtype: object