In [3]:
import pandas as pd

In [2]:
movies_data = pd.read_csv('data/movies.csv', sep=',')

In [9]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [24]:
ratings1 = pd.read_csv('data/ratings1.csv', sep=',')
ratings2 = pd.read_csv('data/ratings2.csv', sep=',')

In [12]:
ratings1['userId'].nunique()

274

In [13]:
movies_dates = pd.read_csv('data/dates.csv', sep=',')

In [18]:
movies_dates = pd.to_datetime(movies_dates['date'], dayfirst=False)

In [23]:
movies_dates.dt.year.value_counts()

2000    10061
2017     8198
2007     7114
2016     6703
2015     6616
2018     6418
1996     6040
2005     5813
2012     4656
2008     4351
2009     4158
2006     4059
2003     4014
2001     3922
2002     3478
2004     3279
1999     2439
2010     2301
1997     1916
2011     1690
2013     1664
2014     1439
1998      507
Name: date, dtype: int64

По умолчанию concat сохраняет первоначальные индексы объединяемых таблиц, а обе наши таблицы индексировались, начиная от 0. Чтобы создать новые индексы, нужно выставить параметр **ignore_index** на ***True***:

In [28]:
ratings = pd.concat([ratings1, ratings2], ignore_index=True)
display(ratings)

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100832     610   166534     4.0
100833     610   168248     5.0
100834     610   168250     5.0
100835     610   168252     5.0
100836     610   170875     3.0

[100837 rows x 3 columns]

Давайте узнаем количество строк в таблицах ratings и dates, ведь нам предстоит вертикально склеить их между собой:

In [29]:
print('Число строк в таблице ratings: ', ratings.shape[0])
print('Число строк в таблице dates: ', movies_dates.shape[0])
print(ratings.shape[0] == movies_dates.shape[0])

Число строк в таблице ratings:  100837
Число строк в таблице dates:  100836
False

In [32]:
# Чистим таблицу от дублей (проставляем новые индексы)

ratings = ratings.drop_duplicates(ignore_index=True)
print('Число строк в таблице ratings: ', ratings.shape[0])

Число строк в таблице ratings:  100836

In [33]:
# Объединение конкатенированной таблицы ratings и movies_dates (теперь объединяем по столбцам)

ratings_dates = pd.concat([ratings, movies_dates], axis=1)
display(ratings_dates.tail(7))

        userId  movieId  rating                date
100829     610   164179     5.0 2017-05-03 21:07:11
100830     610   166528     4.0 2017-05-04 06:29:25
100831     610   166534     4.0 2017-05-03 21:53:22
100832     610   168248     5.0 2017-05-03 22:21:31
100833     610   168250     5.0 2017-05-08 19:50:47
100834     610   168252     5.0 2017-05-03 21:19:12
100835     610   170875     3.0 2017-05-03 21:20:15

In [34]:
ratings_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   userId   100836 non-null  int64
 1   movieId  100836 non-null  int64
 2   rating   100836 non-null  float64
 3   date     100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 3.1 MB

In [35]:
import os

In [ ]:
# Задание 6.3

import os
import pandas as pd
from pathlib import Path

def concat_user_files(path):
    df_list = []
    
    files_list = os.listdir(path)
    files_list.sort()

    for f in files_list:
        df_list.append(pd.read_csv(Path(path, f)))
      
    df = pd.concat(df_list, ignore_index=True)
    df = df.drop_duplicates(ignore_index=True)
    
    return df

In [ ]:
# Эталонное 6.3

def concat_users_files(path):
    data = pd.DataFrame()
    file_names = os.listdir(path)
    file_names.sort()
    for file in file_names:
        tmp_data = pd.read_csv(path + '/' + file)
        data = pd.concat([data, tmp_data], axis=0, ignore_index=True)
    data = data.drop_duplicates()
    return data

**Метод Join()**

In [60]:
movies = pd.read_csv('data/movies.csv')

In [61]:
joined_false = ratings_dates.join(
    movies,
    rsuffix='_right',
    how='left'
)
display(joined_false)

,userId,movieId,rating,date,movieId_right,title,genres
0,1,1,4.0,2000-07-30 18:45:03,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,2.0,Jumanji (1995),Adventure|Children|Fantasy
2,1,6,4.0,2000-07-30 18:37:04,3.0,Grumpier Old Men (1995),Comedy|Romance
3,1,47,5.0,2000-07-30 19:03:35,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,1,50,5.0,2000-07-30 18:48:51,5.0,Father of the Bride Part II (1995),Comedy
...,...,...,...,...,...,...,...
100831,610,166534,4.0,2017-05-03 21:53:22,NaN,NaN,NaN
100832,610,168248,5.0,2017-05-03 22:21:31,NaN,NaN,NaN
100833,610,168250,5.0,2017-05-08 19:50:47,NaN,NaN,NaN
100834,610,168252,5.0,2017-05-03 21:19:12,NaN,NaN,NaN
100835,610,170875,3.0,2017-05-03 21:20:15,NaN,NaN,NaN

In [62]:
joined_false = ratings_dates.join(
    movies,
    rsuffix='_right',
    how='right'
)
display(joined_false)

,userId,movieId,rating,date,movieId_right,title,genres
0,1,1,4.0,2000-07-30 18:45:03,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,2,Jumanji (1995),Adventure|Children|Fantasy
2,1,6,4.0,2000-07-30 18:37:04,3,Grumpier Old Men (1995),Comedy|Romance
3,1,47,5.0,2000-07-30 19:03:35,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,1,50,5.0,2000-07-30 18:48:51,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...,...,...,...
9737,64,3481,4.0,2006-10-22 12:37:45,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,64,3489,3.0,2006-10-22 23:28:09,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,64,3499,4.5,2006-10-22 23:26:41,193585,Flint (2017),Drama
9740,64,3510,3.0,2006-10-22 23:27:26,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,64,3526,4.0,2006-10-23 01:23:47,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

Однако это не тот результат, который мы хотели, ведь мы не получили соответствия фильмов и их рейтингов. Чтобы совместить таблицы по ключевому столбцу с помощью метода **join()**, необходимо использовать ключевой столбец в «правой» таблице в качестве индекса. Это можно сделать с помощью метода **set_index()**. Также необходимо указать название ключа в параметре **on**.

In [65]:
joined = ratings_dates.join(
    movies.set_index('movieId'),
    on='movieId',
    how='left'
)
display(joined.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   userId   100836 non-null  int64
 1   movieId  100836 non-null  int64
 2   rating   100836 non-null  float64
 3   date     100836 non-null  datetime64[ns]
 4   title    100836 non-null  object
 5   genres   100836 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 4.6+ MB

None

In [66]:
merged = ratings_dates.merge(
    movies,
    on='movieId',
    how='left'
)
display(merged.head())

,userId,movieId,rating,date,title,genres
0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

**Особенность метода merge() — автоматическое удаление дублей.**

In [77]:
a = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': [103, 214, 124], 'C': [1, 4, 2]})
b = pd.DataFrame({'V': ['d', 'b', 'c'], 'U': [1393.7, 9382.2, 1904.5], 'C': [1, 3, 2]})

joined = a.merge(b, how='inner', on='C')
joined

   A    B  C  V       U
0  a  103  1  d  1393.7
1  c  124  2  c  1904.5

In [80]:
# Задание 7.5

items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})
purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})

merged = items_df.merge(purchase_df, how='inner', on='item_id')
income = (merged['stock_count'] * merged['price']).sum()

19729490

In [4]:
ratings_movies = pd.read_csv('data/ratings_movies.csv')

In [83]:
ratings_movies.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [5]:
import re 

def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	    #очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [6]:
ratings_movies['date'] = pd.to_datetime(ratings_movies['date'])

In [115]:
ratings_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

In [7]:
# Задание 8.1

ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)
ratings_movies['year_release'].isna().sum()

18

In [124]:
# Задание 8.2

mask = ratings_movies['year_release'] == 1999
ratings_movies[mask].groupby('title')['rating'].mean().sort_values(ascending=True)

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64

In [126]:
# Задание 8.3

mask = ratings_movies['year_release'] == 2010
ratings_movies[mask].groupby('genres')['rating'].mean().sort_values(ascending=True)

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Comedy|Musical                       5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Name: rating, Length: 119, dtype: float64

In [129]:
# Задание 8.4

ratings_movies.groupby('userId')['genres'].nunique().sort_values(ascending=False)

userId
599    524
414    482
448    403
380    399
474    395
      ...
578     15
12      15
85      13
214     13
245     13
Name: genres, Length: 610, dtype: int64

In [10]:
# Задание 8.5 !!! Параметр ascending тоже можно задать в виде списка !!!

ratings_movies.groupby('userId')['rating'].agg(['count', 'mean']).sort_values(by=['count', 'mean'], ascending=[True, False])

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

In [8]:
# Эталонное 8.5

ratings_movies.groupby('userId')['rating'].agg(
    ['count', 'mean']
).sort_values(['count', 'mean'], ascending=[True, False])

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

In [12]:
# Задание 8.6

mask1 = ratings_movies['year_release'] == 2018

ratings_movies[mask1].groupby('genres')['rating'].agg(['mean', 'count']).sort_values(by=['count','mean'], ascending=False)
# rating_new = ratings_movies[mask1].pivot_table(values='rating', index='genres', aggfunc=['count', 'mean']).sort_values(by=[('count', 'rating'), ('mean', 'rating')], ascending=False)

                                            mean  count
genres
Action|Adventure|Sci-Fi                 3.928571     14
Action|Comedy|Sci-Fi                    3.875000     12
Comedy                                  3.312500      8
Action|Adventure|Children|Sci-Fi        3.900000      5
Animation|Comedy                        3.500000      5
Action|Adventure|Animation|Children     3.000000      4
Drama|Horror|Thriller                   2.750000      4
Action|Adventure|Fantasy                2.500000      4
Adventure|Mystery|Sci-Fi|Thriller       3.833333      3
Action|Adventure|Comedy|Fantasy|Sci-Fi  3.666667      3
Documentary                             4.000000      2
Action|Adventure|Thriller               3.750000      2
Action|Adventure|Drama|Sci-Fi|Thriller  3.250000      2
Comedy|Drama                            3.250000      2
Action|Fantasy|Sci-Fi                   2.750000      2
Horror|Mystery|Sci-Fi|Thriller          2.250000      2
Adventure|Comedy|Fantasy                4.500000      1
Adventure|Thriller                      4.500000      1
Comedy|Fantasy|Sci-Fi                   4.500000      1
Comedy|Romance                          4.500000      1
Action|Comedy|Crime|Horror              4.000000      1
Action|Crime|Drama|Thriller             4.000000      1
Action|Animation                        3.500000      1
Action|Mystery|Sci-Fi|Thriller          3.500000      1
Crime|Drama                             3.500000      1
Horror|Mystery|Thriller                 3.500000      1
Sci-Fi|Thriller                         3.500000      1
Action|Comedy                           3.000000      1
Adventure|Children|Fantasy|Sci-Fi       3.000000      1
Action|Crime|Thriller                   2.500000      1
Comedy|Crime|Drama                      2.500000      1
Drama|Fantasy|Thriller                  2.000000      1
Crime|Drama|Mystery|Thriller            1.500000      1

In [215]:
ratings_movies['date'] = pd.to_datetime(ratings_movies['date'], dayfirst=False)
ratings_movies['year_rating'] = ratings_movies['date'].dt.year

In [216]:
ratings_movies.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release,year_rating
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0,2000
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0,2000
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0,2000
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0,2000
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0,2000

In [11]:
# Эталонное 8.6 !!! Сводная таблица это тоже ДатаФрейм, поэтому сначала делаем таблицу в отдельную переменную, а потом ставим фильтр кол-ва рейтингов !!!

mask = ratings_movies['year_release'] == 2018
grouped = ratings_movies[mask].groupby('genres')['rating'].agg(
    ['mean', 'count']
)
grouped[grouped['count']>10].sort_values(
    by='mean',
    ascending=False
)

                             mean  count
genres
Action|Adventure|Sci-Fi  3.928571     14
Action|Comedy|Sci-Fi     3.875000     12

In [13]:
type(grouped)

pandas.core.frame.DataFrame

In [224]:
# Задание 8.7 (решается через маски, с помощью которых можно получить нужные части большой таблицы)

ratings_movies[ratings_movies['genres'] == 'Comedy'].pivot_table(values='rating', index='year_rating', columns='genres', aggfunc='mean')

genres         Comedy
year_rating
1996         3.228571
1997         3.409091
1998         3.000000
1999         3.606061
2000         3.141291
2001         3.318408
2002         3.198556
2003         3.120066
2004         3.356877
2005         2.963325
2006         3.347534
2007         2.928187
2008         3.426667
2009         3.273292
2010         3.179825
2011         3.232877
2012         3.478477
2013         3.489474
2014         3.271429
2015         3.106183
2016         3.373431
2017         2.852668
2018         3.121296